<div class=" m-5  d-flex justify-content-between">

  <ul class="nav nav-tabs w-100 ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>


  <button type="button" class="btn btn-outline-secondary w-25 btn-sm"> <i class="bi bi-plus"></i> New Space </button>



</div>

<div class=" m-5 border rounded p-3">
  <i class="bi bi-person-plus"></i><span>Team Space</span>
</div>

