.nav-tabs .nav-link {
  color: #6c757d;
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.tab-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
.dropdown-menu {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -320px;
transition: right 0.4s ease-in-out;
}

.dropdown-menu.open {
  right: 0;
}

.dropdown-menu-content{
  display: none;
}

.dropdown-subtask:hover .dropdown-menu-content {
  display: block;
}
