
<div class="container">
  <div class="m-4 d-flex ">
    <i class="bi bi-shield-check fs-4 me-2"></i> <h4> Security </h4>
  </div>

  <div class="row ">
    <div class="col-6">
      <div class="d-flex align-items-center gap-2 mb-2">
        <h6 class="mb-0">Two-factor authentication (2FA)</h6>
        <button type="button" class="btn btn-primary btn-sm">Business</button>
      </div>
      <small class="text-muted">
        We'll prompt your Workspace members to enable 2FA on their next login. To see who has enabled 2FA, check the
        <a href="#">People settings page</a>.
      </small>
    </div>
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1" checked>
        <label class="form-check-label" for="radioDefault1">
          Don't require 2FA
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" >
        <label class="form-check-label" for="radioDefault2">
          Require 2FA(members are required to set up 2FA by their third login)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault3" >
        <label class="form-check-label" for="radioDefault3">
          Immediately require 2FA
        </label>
      </div>

    </div>
    </div>
  <hr>

  <div class="row ">
    <div class="col-6">
      <div class="d-flex align-items-center gap-2 mb-2">
        <h6 class="mb-0">Single sign-on (SSO)</h6>
        <button type="button" class="btn btn-primary btn-sm">Business</button>
      </div>
      <small class="text-muted">
        Require Workspace members to log in to Cagan using their  credentials from your SSO identity provider(IDP).
        Click on your vendor or use SAML to connect with other providers to start the setup process.

        <br>
        <a href="#">Learn more</a> about SSO.
      </small>
    </div>

    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioDefault" checked>
        <label class="form-check-label" for="radioDefault1">
          Don't require SSO
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioDefault" >
        <label class="form-check-label me-2" for="radioDefault2">
          Google
        </label>
        <button type="button" class="btn btn-primary btn-sm">Business</button>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioDefault" >
        <label class="form-check-label me-2" for="radioDefault2">
          Okta
        </label>
        <button type="button" class="btn btn-primary btn-sm">Enterprise</button>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioDefault" >
        <label class="form-check-label me-2" for="radioDefault2">
          Microsoft
        </label>
        <button type="button" class="btn btn-primary btn-sm">Enterprise</button>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioDefault" >
        <label class="form-check-label me-2" for="radioDefault2">
          SAML
        </label>
        <button type="button" class="btn btn-primary btn-sm">Enterprise</button>
      </div>

    </div>




  </div>
  <hr>


  <div class="row ">
    <div class="col-6">
      <div class="d-flex align-items-center gap-2 mb-2">
        <h6 class="mb-0">Session management</h6>
        <button type="button" class="btn btn-primary btn-sm">Enterprise</button>
      </div>
      <small class="text-muted">
        Set the session and idle timeout durations for your workspace. Members in your workspace will be prompted
        to log back in after their session expires. Session limits don't apply when using Mobile app.

        <br>
        <a href="#">Learn more</a> about session management.
      </small>
    </div>

    <div class="col-6">
      <small class="fs-4"> Session duration</small>



    </div>




  </div>
  <hr>


  </div>







