<div class="d-flex" style="height: 100vh">
  <div [ngClass]="{ 'sidebar-collapsed': isCollapsed, 'sidebar-expanded': !isCollapsed }" class="sidebar bg-light d-flex flex-column">

<!--    <ng-container *ngIf="!hideCaganDropdown">-->
      <div class="btn btn-outline-secondary m-1 btn-sm d-flex justify-content-between align-items-center dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex align-items-center">
          <i class="bi bi-circle-fill me-2" style="color: teal;"></i>
          <span *ngIf="!isCollapsed" >Cagan Tech...</span>
        </div>
        <i class="bi ms-2" [ngClass]="isCollapsed ? 'bi-layout-sidebar-reverse' : 'bi-layout-sidebar'" (click)="toggleSidebar()"></i>
      </div>

<!--    </ng-container>-->

    <ul class="dropdown-menu">
      <li><a class="dropdown-item"   (click)="showSettingsMenu()"><i class="bi bi-gear"></i> Settings</a></li>
      <li><a class="dropdown-item" href="#">Upgrade</a></li>
      <li><a class="dropdown-item" href="#">Apps</a></li>
      <li><a class="dropdown-item" href="#">Manage users</a></li>
    </ul>

    <div style="overflow-y: auto; flex-grow: 1" >
      <ul class="nav flex-column text-center">
        <ng-container *ngIf="!showSettings; else settingsList">
          <li class="nav-item" *ngFor="let item of menu">
            <a href="#" class="nav-link d-flex align-items-center">
              <i class="bi fs-6 me-2" [ngClass]="item.icon"></i>
              <span *ngIf="!isCollapsed">{{ item.name }}</span>
            </a>
          </li>

          <hr>
          <li>
            <div class="d-flex justify-content-between align-items-center">
              <p class="fs-6 text-muted">
                <span *ngIf="!isCollapsed">Favorites</span>
                <i *ngIf="isCollapsed" class="btn bi bi-star"></i>
              </p>
            </div>
          </li>
          <li>
            <div *ngIf="!isCollapsed">
              <p class="fs-6 text-muted justify-content-between align-items-center">
                Spaces <i class="btn bi bi-search"></i>
                <i class="btn bi bi-three-dots"></i>
              </p>
            </div>
          </li>
        </ng-container>

        <ng-template #settingsList>
          <li class="nav-item mt-2" routerLink="">
            <div class="fs-6" (click)="showMainMenu()">
              <i class="bi bi-arrow-left  me-2"></i>
              <span *ngIf="!isCollapsed">Back to Workspace</span>
            </div>
          </li>

          <li class="nav-item" *ngFor="let item of settingsMenu">
            <a [routerLink]="item.route" class="nav-link d-flex align-items-center">
              <i class="bi fs-6 me-2" [ngClass]="item.icon"></i>
              <span *ngIf="!isCollapsed">{{ item.name }}</span>
            </a>
          </li>

          <p class="fs-6 fw-bold text-muted mt-3"> Shawn Louw </p>
          <li class="nav-item " *ngFor="let personalItems of personalSettings">
            <a [routerLink]="personalItems.route" class="nav-link d-flex align-items-center">
              <i class="bi fs-6 me-2" [ngClass]="personalItems.icon"></i>
              <span *ngIf="!isCollapsed"> {{ personalItems.name }}</span>
            </a>
          </li>

          <li>

          </li>
        </ng-template>
      </ul>
    </div>

    <div class="mt-auto px-3 py-2 border-top">
      <a href="#" class="btn btn-outline-danger btn-sm w-100 text-start">
        <i class="bi bi-box-arrow-right me-2"></i>
        <span *ngIf="!isCollapsed">Logout</span>
      </a>

  </div>
  </div>
</div>
