<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">
            <i class="bi bi-calendar4" style="font-size: 24px;"></i>
          </a>
        </li>
        <li class="nav-item">
          <input class="form-control h-75 mt-2" type="search" placeholder="Search" [(ngModel)]="searchQuery" name="search">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mt-2" href="#">AI</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#createNewModal">
          <i class="bi bi-plus-circle"></i> New
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-grid"></i>
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-person-circle" style="height: 20px">
            <i class="bi bi-dot online-dot"></i>
          </i>
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- The New Button-->
<app-toolbar-NewButton></app-toolbar-NewButton>



<div class="modal fade" id="staticBackdropTemplate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:0;">
    <div class="modal-content mt-3"  style="width: 100vw; height: 95vh;" >
      <div class="modal-header">
        <h1 class="modal-title fs-5 col-4" id="staticBackdropLabel">
          <img src="" alt="Logo" />
          Template Center
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div class="d-flex">
          <div class="col-3 pe-3 border-end">
            <ul class="list-unstyled">
              <div type="button" class="d-flex justify-content-between align-items-center px-2 py-2 rounded text-primary" style="cursor: pointer;">
                <span>Workspace Templates</span>
                <span class="badge bg-light text-muted border">1</span>
              </div>
              <li>
                <div class="d-flex justify-content-between align-items-center px-2 py-2 rounded text-dark" style="cursor: pointer;">
                  <span>Cagan Templates</span>
                  <span class="badge bg-light text-muted border">145</span>
                </div>
              </li>

            </ul>
            <div class="text-muted mb-2">Template Types</div>

            <div *ngFor="let templateType of TemplateType" class="form-check mb-2">
              <input type="checkbox" class="form-check-input" name="template-type" >
              <label class="form-check-label" >
                {{ templateType.name }}
              </label>
            </div>
            <div class="text-muted mb-2">Complexity </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="template-type">
                <label class="form-check-lable"> Beginner</label>
              </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="template-type">
              <label class="form-check-lable"> Intermediate </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="template-type">
              <label class="form-check-lable"> Advanced </label>
            </div>
          </div>

          <div class="col-9 ps-3" style="overflow-y: auto; overflow-x: hidden; height: calc(95vh - 210px);">
            <div class="d-flex gap-2 mb-3">
              <input class="form-control w-50" type="search" placeholder="Search" name="search">
              <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-briefcase"></i> Use Cases</button>
                <ul class="dropdown-menu rounded" style="height: 150px">
                  <li>
                    <input type="search" class="form-control" placeholder="search" name="search" >
                  </li>
                  <hr>
                  <input type="checkbox" class="form-check-input" name="checkbox">
                  <label>Unselect All</label>
                </ul>
              </div>

              <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-tag"></i>Tags</button>
                <ul class="dropdown-menu rounded " style="height: 250px">
                  <li>
                    <input type="search" class="form-control" placeholder="search" name="search" >
                  </li>
                </ul>
              </div>

              <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i> Created by</button>

                <ul class="dropdown-menu" style="width: 250px">
                  <input type="text" class="form-control" placeholder="search or enter email" name="search">
                  <hr>
                  <div class="dropdown-item"><i class="bi bi-person-circle"> </i>  Me </div>
                  <div class="dropdown-item"><i class="bi bi-person-circle"> </i> Bhadvaraj </div>
                  <div class="dropdown-item"><i class="bi bi-person-circle"> </i> Chantal </div>
                  <div class="dropdown-item"><i class="bi bi-person-circle"> </i> Elizabeth </div>
                  <div class="dropdown-item"><i class="bi bi-person-circle"> </i> Hastika </div>

                </ul>
              </div>
            </div>


            <h4>Templates from your Workspace</h4>

            <h5>Task</h5>

            <div class="card mb-4" style="width: 200px;">
              <div class="position-relative p-3 text-center" style="height: 150px; border: 1px solid #ccc; border-radius: 8px;">
                <button class="btn btn-sm btn-light position-absolute top-0 end-0 m-2 border">Quick Use</button>

              </div>
              <div class="card-body p-2">
                <p class="card-text text-truncate mb-0" title="Master Business Development">
                  <i class="bi bi-check-circle-fill text-primary me-1"></i>
                  Master Business Development
                </p>
              </div>
            </div>

            <hr>

            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="mb-0">Templates by Cagan</h5>
              <a href="#" class="text-decoration-none">See 4 more</a>
            </div>

            <h6 class="text-muted">Marketing</h6>
            <div class="row row-cols-3 g-3">
              <div class="col">
                <div class="card" >
                  <img src="" class="card-img-top" alt="Template 1" style="height: 200px">
                  <div class="card-body p-2">
                    <p class="card-text text-truncate">Marketing Strategy Plan</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card" >
                  <img src="" class="card-img-top" alt="Template 2" style="height: 200px">
                  <div class="card-body p-2">
                    <p class="card-text text-truncate">Product Launch Checklist</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card" >
                  <img src="" class="card-img-top" alt="Template 3" style="height: 200px">
                  <div class="card-body p-2">
                    <p class="card-text text-truncate">Campaign Plan</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card" >
                  <img src="" class="card-img-top" alt="Template 3" style="height: 200px">
                  <div class="card-body p-2">
                    <p class="card-text text-truncate">Campaign Plan</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" >
                  <img src="" class="card-img-top" alt="Template 3" style="height: 200px">
                  <div class="card-body p-2">
                    <p class="card-text text-truncate">Campaign Plan</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" >
                  <img src="" class="card-img-top" alt="Template 3" style="height: 200px">
                  <div class="card-body p-2">
                    <p class="card-text text-truncate">Campaign Plan</p>
                  </div>
                </div>
              </div>


            </div>


            <div class="row">

              <div class="d-flex justify-content-between align-items-center mt-2">
                <h6 class="mb-0">Others</h6>
                <a href="#" class="text-decoration-none">See 34 more</a>
              </div>

              <div class="row row-cols-3 g-3">
                <div class="col">
                  <div class="card" >
                    <img src="" class="card-img-top" alt="Template 1" style="height: 200px">
                    <div class="card-body p-2">
                      <p class="card-text text-truncate">Marketing Strategy Plan</p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card" >
                    <img src="" class="card-img-top" alt="Template 2" style="height: 200px">
                    <div class="card-body p-2">
                      <p class="card-text text-truncate">Product Launch Checklist</p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card" >
                    <img src="" class="card-img-top" alt="Template 3" style="height: 200px">
                    <div class="card-body p-2">
                      <p class="card-text text-truncate">Campaign Plan</p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card" >
                    <img src="" class="card-img-top" alt="Template 3" style="height: 200px">
                    <div class="card-body p-2">
                      <p class="card-text text-truncate">Campaign Plan</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" >
                    <img src="" class="card-img-top" alt="Template 3" style="height: 200px">
                    <div class="card-body p-2">
                      <p class="card-text text-truncate">Campaign Plan</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" >
                    <img src="" class="card-img-top" alt="Template 3" style="height: 200px">
                    <div class="card-body p-2">
                      <p class="card-text text-truncate">Campaign Plan</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>





          </div>
        </div>
      </div>


      <div class="modal-footer d-flex justify-content-start">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdropActivityLog">Activity Log</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdropActivityLog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropActivityLogLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:0;">
    <div class="modal-content mt-3"  style="width: 100vw; height: 95vh;" >
      <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div data-bs-toggle="modal" data-bs-target="#staticBackdropTemplate" class="d-flex align-items-center">
            <i class="bi bi-arrow-left me-2"></i>
            <span>Back</span>
          </div>
          <h5 class="mb-0 text-center flex-grow-1">Activity Log</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>

      <div class="modal-body" >
        <div class="container">
          <div class="row d-flex justify-content-end">
            <input type="text" name="filterActivity" class="form-control w-25 m-4" placeholder="filter activity">
          </div>


          <div class="row">
            <table class="table table-hover text-muted">
              <thead>
              <tr>
                <th scope="col"> Template Name </th>
                <th scope="col"> Event </th>
                <th scope="col"> Location</th>
                <th scope="col"> Date & Time</th>
                <th scope="col"> Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdropSaveTemplate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropSaveTemplateLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:0;">
    <div class="modal-content mt-3"  style="width: 100vw; height: 95vh; overflow-y: auto" >
      <div class="modal-header justify-content-center position-relative">
        <h5 class="modal-title mx-auto" id="staticBackdropSaveTemplateLabel">
          Save as new task template
        </h5>
        <button type="button" class="btn-close position-absolute end-0 top-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div class="container " style="width: 500px">
          <h6> <small> Template name</small></h6>
          <input type="text" name="templateName" class="form-control w-100" placeholder="enter template name">
          <div class="d-flex  mt-1  gap-2">
              <button type="button" class="btn btn-outline-secondary btn-sm " (click)="showDescriptions()"><i class="bi bi-plus"></i> add description</button>
              <button type="button" class="btn btn-outline-secondary btn-sm " (click)="showTags()"><i class="bi bi-plus"></i> add tags</button>
          </div>

          <div *ngIf="showDescription">
            <div class="row" >
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Add description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          </div>


          <div *ngIf="showTag">
            <div class="row">
              <label> Tags </label>
              <div class="border rounded-2 p-2 m-2">
                <div class="dropdown">
                  <i class="p-1 border rounded bi bi-tag" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>

                  <div class="dropdown-menu">
                    <ul class="list-unstyled" style="height: 150px">
                      <li><input type="text" class="form-control " name="tags" placeholder="" ></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3 ">
              <h6><small>Share with</small></h6>
            <div class="border rounded-2 p-3" >
              <div class="d-flex gap-2">
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                    <label class="form-check-label" for="radioDefault1">
                      All members
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2">
                    <label class="form-check-label" for="radioDefault2">
                      Only Me
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault3">
                    <label class="form-check-label" for="radioDefault3">
                      Select people
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault4">
                    <label class="form-check-label" for="radioDefault4">
                      Everyone (including guests and limited members)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault5">
                    <label class="form-check-label" for="radioDefault5">
                      Admins only
                    </label>
                  </div>
                </div>
              </div>


              <div class="row">
                <hr>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault2">
                  <label class="form-check-label" for="switchCheckDefault2">Public sharing </label>
                </div>
              </div>

            </div>

          </div>
          <div class="row mt-3">
            <h6><small>Import Options</small></h6>
            <div class="border rounded-2 p-2" style="height:auto;">

              <div class="d-flex gap-2 align-items-center">
                <button type="button" class="btn btn-outline-secondary w-100" [class.active]="!imports" (click)="showImportEverything()" > Import everything</button>
                <button type="button" class="btn btn-outline-secondary w-100" [class.active]="imports" (click)="showCustomizeImports()"> Customize import items</button>
              </div>

              <div *ngIf="!imports">
                <div class="text-black-50 mt-2" >
                  <small >All properties, fields and settings will be imported exactly as is.</small>
                </div>
              </div>

              <div *ngIf="imports">
                <div class="row row-cols-2 g-2 m-3">
                    <div class="form-check col" *ngFor="let customizeItem of customizeItemsImports" >
                      <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                      <label class="form-check-label" for="checkChecked">
                        {{ customizeItem.name}}
                      </label>
                    </div>

                  </div>
              </div>

            </div>
          </div>

        </div>
      </div>


      <div class="modal-footer d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdropUploadExisting">Upload an existing template</button>
        </div>

        <div>
          <button type="button" class="btn btn-outline-secondary m-2" >Cancel</button>
          <button type="button" class="btn btn-outline-primary m-2" >Save Template</button>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdropUploadExisting" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropUploadExistingLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:0;">
    <div class="modal-content mt-3"  style="width: 100vw; height: 95vh;" >
      <div class="modal-header justify-content-center position-relative">
        <h5 class="modal-title mx-auto" id="staticBackdropUploadExistingLabel">
          Save as new task template
        </h5>
        <button type="button" class="btn-close position-absolute end-0 top-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div class="container " style="width: 500px">
          <h6> <small> Template name</small></h6>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" placeholder="search templates" aria-label="Username" aria-describedby="basic-addon1">

            <div class="dropdown ms-2">
              <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i> Created by</button>
              <ul class="dropdown-menu" style="width: 250px">
                <div class="px-3">
                  <input type="text" class="form-control" placeholder="Search or enter email" name="search">
                </div>
                <hr>
                <div class="dropdown-item"><i class="bi bi-person-circle"> </i>  Me </div>
                <div class="dropdown-item"><i class="bi bi-person-circle"> </i> Bhadvaraj </div>
                <div class="dropdown-item"><i class="bi bi-person-circle"> </i> Chantal </div>
                <div class="dropdown-item"><i class="bi bi-person-circle"> </i> Elizabeth </div>
                <div class="dropdown-item"><i class="bi bi-person-circle"> </i> Hastika </div>

              </ul>
            </div>
          </div>
          <div class=" row d-flex justify-content-between align-items-center border rounded-2 p-2 text-center">
            <div class=" col-auto" >
              Master Business Development Blueprint Checklist
            </div>
              <div class="col-auto form-check">
                <input class="form-check-input checked" type="radio" name="radioDefault" id="radioDefault7">
              </div>




          </div>
        </div>
      </div>


      <div class="modal-footer d-flex justify-content-start">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdropSaveTemplate">Save as new template instead</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editBacklogModal" tabindex="-1" aria-labelledby="editBacklogModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header">
        <h3 class="modal-title fs-6" id="editBacklogModalLabel">
          Edit UI Core Components Statuses
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div  class="col-5">
            <h6 class="text-muted mb-2" > Status type </h6>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1" >
                Inherit from space
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault1">
                Use custom statuses
              </label>
            </div>
            <div class="mb-3">
              <label class="form-label text-muted small">Status template</label>
              <div class="dropdown">
                <button class="form-select text-start" data-bs-toggle="dropdown" aria-expanded="false">
                  Select a template...
                </button>
                <ul class="dropdown-menu w-100 p-2 shadow-sm">
                  <input class="form-control mb-2" type="search" placeholder="Search">
                  <li><a class="dropdown-item" href="#">Cagan Scrum</a></li>
                  <li><a class="dropdown-item" href="#">Content</a></li>
                  <li><a class="dropdown-item" href="#">Kanban</a></li>
                  <li><a class="dropdown-item" href="#">Marketing</a></li>
                  <li><a class="dropdown-item" href="#">Normal</a></li>
                  <li><a class="dropdown-item" href="#">Overall Board Status</a></li>
                  <li><a class="dropdown-item" href="#">Product & Engineering</a></li>
                  <li><a class="dropdown-item" href="#">Scrum</a></li>
                  <li><a class="dropdown-item text-primary" href="#">+ New template</a></li>
                </ul>
              </div>
              </div>
          </div>


          <div class="col-7 text-center mt-4">
            <h6 class="text-muted fs-6 mb-2">Active</h6>
            <ul class="list-unstyled">
              <li class="editBacklogListIcons">TO - DO</li>
              <li class="editBacklogListIcons">PENDING</li>
              <li class="editBacklogListIcons">IN PROGRESS</li>
            </ul>

            <h6 class="text-muted fs-6 mb-2">Done</h6>
            <ul class="list-unstyled">
              <li class="editBacklogListIcons">DONE</li>
            </ul>

            <h6 class="text-muted fs-6 mb-2">Closed</h6>
            <ul class="list-unstyled">
              <li class="editBacklogListIcons">DEPLOYED</li>
            </ul>
          </div>

        </div>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" >Save Template </button>
        <button type="button" class="btn btn-primary" >Apply Changes </button>
      </div>
    </div>
  </div>
</div>
