<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">
            <i class="bi bi-calendar4" style="font-size: 24px;"></i>
          </a>
        </li>
        <li class="nav-item">
          <input class="form-control h-75 mt-2" type="search" placeholder="Search" [(ngModel)]="searchQuery" name="search">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mt-2" href="#">AI</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#createNewModal">
          <i class="bi bi-plus-circle"></i> New
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-grid"></i>
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-person-circle" style="height: 20px">
            <i class="bi bi-dot online-dot"></i>
          </i>
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- The New Button-->
<app-toolbar-NewButton></app-toolbar-NewButton>



<div class="modal fade" id="staticBackdropTemplate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:0;">
    <div class="modal-content mt-5"  style="width: 100vw;">
      <div class="modal-header">
        <h1 class="modal-title fs-5 col-4" id="staticBackdropLabel">
          <img src="" alt="Logo" />
          Template Center
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <div class="col-3 pe-3 border-end">
            <h6>Workspace Templates <span>1</span></h6>
            <h6>ClickUp Templates <span>145</span></h6>
            <div class="text-muted mb-2">Template Types</div>

            <div *ngFor="let templateType of TemplateType" class="form-check mb-2">
              <input type="checkbox" class="form-check-input" name="template-type" >
              <label class="form-check-label" >
                {{ templateType.name }}
              </label>
            </div>
          </div>

          <div class="col-9 ps-3">
            <div class="d-flex gap-2 mb-3">
              <input class="form-control w-50" type="search" placeholder="Search" name="search">
              <button type="button" class="btn btn-outline-dark">Use Cases</button>
              <button type="button" class="btn btn-outline-dark">Tags</button>
              <button type="button" class="btn btn-outline-dark">Created by</button>
            </div>

          </div>
          <h4>Templates from your Workspace</h4>

          <h5>Task</h5>

        </div>
      </div>


      <div class="modal-footer mt-5">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
