<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">
            <i class="bi bi-calendar4" style="font-size: 24px;"></i>
          </a>
        </li>
        <li class="nav-item">
          <input class="form-control h-75 mt-2" type="search" placeholder="Search" [(ngModel)]="searchQuery" name="search">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mt-2" href="#">AI</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#createNewModal">
          <i class="bi bi-plus-circle"></i> New
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-grid"></i>
        </button>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-person-circle" style="height: 20px">
            <i class="bi bi-dot online-dot"></i>
          </i>
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- The New Button-->
<app-toolbar-NewButton></app-toolbar-NewButton>

