<div class="position-relative">
  <div class="sidebar p-4" >
    <button class="btn btn-link p-0 mb-2" (click)="goBack()">
      <i class="bi bi-arrow-left"></i> Fields
    </button>

    <input type="text" placeholder="Create or search for fields" class="form-control my-2">
    <h6 class="text-muted fs-6 d-flex justify-content-between">Shown <span class="" type="button"> Hide all</span></h6>

    <ul>
      <li *ngFor="let field of fields; let i = index" class="d-flex align-items-center justify-content-between mb-2">
        <i class="bi bi-grip-vertical text-muted me-2"></i>
        <div class="d-flex align-items-center flex-grow-1">
          <small [class]="field.icon" class="me-2"></small>
          <span class="flex-grow-1">{{ field.name }}</span>
        </div>


        <label class="d-flex align-items-center">
          <div class="form-check form-switch ">
            <input class="form-check-input" type="checkbox" [(ngModel)]="field.enabled" [id]="'fieldSwitch' + i">
          </div>
        </label>
      </li>

      <h6 class="text-muted fs-6 d-flex justify-content-between">Popular </h6>
      <li  *ngFor="let popularField of popularFields; let i=index"  class="d-flex align-items-center justify-content-between mb-2">
        <div class="d-flex align-items-center flex-grow-1">
          <small [class]="popularField.icon" class="me-2"></small>
          <span class="flex-grow-1">{{ popularField.name }}</span>
        </div>
        <label class="d-flex align-items-center">
          <div class="form-check form-switch ">
            <input class="form-check-input" type="checkbox" [(ngModel)]="popularField.enabled" [id]="'popularFieldSwitch' + i">
          </div>
        </label>
      </li>

      <h6 class="text-muted fs-6 d-flex justify-content-between">Hidden </h6>
      <li  *ngFor="let hiddenFields of hidden; let i=index"  class="d-flex align-items-center justify-content-between mb-2">
        <div class="d-flex align-items-center flex-grow-1">
          <small [class]="hiddenFields.icon" class="me-2"></small>
          <span class="flex-grow-1">{{ hiddenFields.name }}</span>
        </div>
        <label class="d-flex align-items-center">
          <div class="form-check form-switch ">
            <input class="form-check-input" type="checkbox" [(ngModel)]="hiddenFields.enabled" [id]="'hiddenFieldsSwitch' + i">
          </div>
        </label>
      </li>

      <h6 class="text-muted fs-6 d-flex justify-content-between">Fields in Workspace </h6>
      <li  *ngFor="let fieldinWorkspace of fieldsInWorkspace; let i=index"  class="d-flex align-items-center justify-content-between mb-2">
        <div class="d-flex align-items-center flex-grow-1">
          <small [class]="fieldinWorkspace.icon" class="me-2"></small>
          <span class="flex-grow-1">{{ fieldinWorkspace.name }}</span>
          <span><button class="btn btn-primary"> add</button> </span>
        </div>
      </li>
    </ul>

    <button class="btn btn-primary w-100 mt-2" (click)="openPanel('creatingNewField')">Create field</button>
  </div>

  <div *ngIf="activePanel === 'creatingNewField'" class="position-absolute top-0 start-0 w-100 h-100 bg-white shadow  sidebar p-4" style="z-index:10;">
    <button class="btn btn-link p-0 mb-2" (click)="openPanel('fields')">
      <i class="bi bi-arrow-left"></i> Create field
    </button>
    <input type="text" placeholder="Create or search for fields" class="form-control my-2">

    <h6 class="text-muted fs-6 d-flex justify-content-between">Suggested </h6>
    <ul>
      <li *ngFor="let creatingNewField of creatingNewFieldsItems; let i = index" class="d-flex align-items-center justify-content-between mb-2">
        <div class="d-flex align-items-center flex-grow-1">
          <small [class]="creatingNewField.icon" class="me-2"></small>
          <span class="flex-grow-1">{{ creatingNewField.name }}</span>
          <hr>
        </div>
      </li>

    </ul>
  </div>

</div>
